@model Dish

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Chef</h6>
        <p class="card-text">@Model.Description</p>
        <p>Calories: @Model.Calories</p>
        <p>Tastiness: @Model.Tastiness</p>
        <a class="btn btn-primary" asp-controller="Dishes" asp-action="All">Go back</a>&nbsp;
        <a asp-controller="Dishes" asp-action="Delete" asp-route-id="@Model.DishId" class="btn btn-danger">
        Delete
      </a>
    </div>
</div>